body

{
background-color: rgb(240, 242, 248); 
Color:blue;
font-size: 52px;
font-family: font-family: Impact;
}


img 

{
    float: right; 
    width: 250px;
    border: 2px solid rgb(38, 28, 174);
    border-radius: 5%;
}

table

{
    border: 2px dotted rgb(28, 28, 174);
    width: 80%;
}

th

{
    border: 1px dotted rgb(28, 28, 174);
}

td

{
    border: 1px dotted rgb(28, 28, 174);
}

h1

{
 font-size: 32px;   
 font-weight: 400;
}

h2

{
    font-size: 22px;
}

caption 

{
    font-size: 26px;
    font-weight: 400;
}

h3 
{
    font-size: 30px;
    width: 80;
}
